{% extends 'dtest/base.html' %}

{% block title %} 测试home {% endblock %}

{% block content %}

<strong>我是home页</strong>
{{ string }}
<ul>
    {% for i in colors %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>

{% url 'home2' %}

{{ request.path }}

<form method="post" action="{% url 'post' %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="姓名">
    <input type="text" name="age" placeholder="年龄">
    <input type="submit" value="提交">
</form>

<strong>form:{{ form }}</strong>
{% endblock %}