<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test vue</title>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        .red {
            width: 100px;
            height: 200px;
            background-color: #cc1111;
        }

        .yellow {
            width: 200px;
            height: 100px;
            background-color: #f5dd5d;
        }
    </style>
</head>
<body id="vuetest">
<my-component></my-component>
<label>姓名：{% templatetag openvariable %} name {% templatetag closevariable %}</label>
<input type="text" v-model="name" value="">
<label>年龄：{% templatetag openvariable %} age | capitalize {% templatetag closevariable %}</label>
<input type="text" v-model="age" value="">
<div v-on:click="changeColor()" class="{% templatetag openvariable %} class {% templatetag closevariable %}"></div>
<label v-if="Math.random() > 0.5">abc</label>
<label v-else>ABC</label>
<ul>
    <li v-for="item in listUser">
        {% templatetag openvariable %} $index {% templatetag closevariable %} -- {% templatetag openvariable %} item
        {%templatetag closevariable %}
    </li>
</ul>
</body>
</html>
<script type="application/javascript">
    $(function () {
        var da = JSON.parse('{{ u|safe }}');

        var myComponent = Vue.extend({
            template: '<div>我是自定义组件</div>'
        });

        Vue.component('my-component', myComponent);

        var vm = new Vue({
            data: da,
            el: '#vuetest',
            computed: {
                age: function () {
                    return parseInt(this.name) + 1;
                }
            },
            methods: {
                changeColor: function (event) {
                    if (vm.class == 'red')
                        vm.class = 'yellow';
                    else
                        vm.class = 'red';
                }
            }
        });
    })
</script>